.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
  }
  
  igx-select,
  igx-input {
    width: 100%;
  }
  
  igx-button {
    margin-top: 20px;
  }
  