<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <h2>John D.</h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-users" (click)="admin()" ><span>voir la listes des comptes</span></li>
    <li tabindex="0" class="icon-users" (click)="AjoutCompte()"><span>ajouter compte</span></li>
    <li  (click)="deconnection()"><i-bs name="box-arrow-left" width="20" height="20"></i-bs><span style="margin-left: 5px;">déconnection</span></li>
  </ul>
</nav>


