<div class="leftSideContainer">


<div class="userDesc">
    <div class="img">
        <img [src]="'https://congee-app-services-pro.onrender.com/getImage/'+data.image"  alt="">
    </div>
    <div class="content">
        <h3 >{{data.nomPrenom}}</h3>
        <p style="font-size: 17px; ">{{data.poste}}</p>
    </div>
</div>

<div class="CalendarColorInfo">

<div class="congee">
    <div class="color" style="background-color: #DC143C; box-shadow: #DC143C 0px 2px 4px 0px, #DC143C 0px 2px 16px 0px; transform:translateY(50px)"></div>
    <h3>les congées</h3>
</div>
<div class="formation">
    <div class="color" style="background-color: blue; box-shadow: blue 0px 2px 4px 0px, blue 0px 2px 16px 0px; transform:translateY(30px)"></div>
    <h3>les formations</h3>
</div>

</div>




</div>